name: Automated Data Preprocessing

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Izin untuk menyimpan file hasil balik ke repo

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn

      - name: Run Preprocessing Script
        run: python automate_Maulana-Seno-Aji-Yudhantara.py

      - name: Commit and Push Processed Data
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add preprocessing/customer_churn_cleaned.csv
          git commit -m "Auto-update processed dataset by GitHub Actions" || echo "No changes to commit"
          git push